@use "../../styles/_fns.scss" as *;

.separator {
  margin: var(--spacing-lg) 0;
  height: #{rem(8)};

  @include media("md") {
    margin: var(--spacing-xl) 0;
  }

  @include media("lg") {
    margin: var(--spacing-xl) 0 var(--spacing-2xl);
  }

  svg {
    fill: var(--color-minor-accent);
    height: 100%;
  }
}
