@use "../../styles/_fns.scss" as *;

.parent {
  position: sticky;
  bottom: 0;
  z-index: 0;
  background: var(--color-minor-background);
}

.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);

  @include media("md") {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: auto;
  }
}

.logo {
  grid-column: 1/-1;
  margin-bottom: var(--spacing-xl);
  text-align: left;

  svg {
    fill: var(--color-main-body);
    height: #{rem(32)};
  }
}

.logoBg {
  width: 90vw;
  height: 100%;
  position: fixed;
  left: -5dvw;
  bottom: -67%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.05;

  svg {
    fill: var(--color-main-body);
  }
}

.disclaimer {
  margin-top: var(--spacing-xl);
}

.navWrapper {
  color: var(--color-minor-body);
  opacity: 0.64;

  hr {
    margin-bottom: var(--spacing-mid) !important;
  }
}

.navWrapper + .navWrapper {
  margin-top: var(--spacing-xl);

  @include media("md") {
    margin-top: 0;
  }
}

.list {
  list-style: none;

  li {
    padding-left: 0;

    &:before {
      content: none;
    }
  }
}

.list li + li {
  margin-top: var(--spacing-small);
}

.listItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-small);
  color: var(--color-main-body);

  a {
    text-decoration: none;
  }

  svg {
    width: #{rem(12)};
    stroke: var(--color-main-body);
  }
}

.listItem.noIcon {
  grid-template-columns: 1fr;
}

.copyright {
  grid-column: 1/-1;
  margin-top: var(--spacing-3xl);
  color: var(--color-minor-body);
  opacity: 0.64;

  @include media("md") {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    p {
      max-width: #{rem(300)};
      text-align: right;
    }
  }

  p + p {
    margin-top: var(--spacing-small);
  }
}
