@use "../../styles/_fns.scss" as *;

.content {
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-mid);
  display: grid;
  grid-column: 1/-1;

  > * {
    grid-column: 1 / 13;
  }

  p + p {
    margin-top: 0 !important;
  }

  @include media("md") {
    > * {
      grid-column: 1 / 11;
    }
  }

  @include media("lg") {
    > * {
      grid-column: 1 / 8;
    }
  }
}

.youtube {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: var(--spacing-mid);
  border-radius: #{rem(8)};
  overflow: hidden;
  grid-column: 1/-1;

  @include media("md") {
    margin-bottom: var(--spacing-3xl);
  }
}
