@use "../../styles/_fns.scss" as *;

.wrapper {
  display: grid;
  gap: var(--gutter);
  grid-template-rows: repeat(3, auto);
  justify-items: flex-start;
  padding: var(--spacing-3xl) 0;
  grid-column: 1/-1;

  @include media("md") {
    padding: var(--spacing-huge) 0;
    grid-column: 1/11;
  }

  @include media("lg") {
    grid-column: 1/10;
  }
}

.meta {
  color: var(--color-minor-body);

  p + p {
    margin-top: var(--spacing-small);
  }
}

.title {
  color: var(--color-main-heading);

  @include media("md") {
    width: 80%;
    padding-right: var(--gutter);
  }
}
