@use "../../styles/_fns.scss" as *;

.title {
  grid-column: 1 / -1;
  grid-row: 1;

  h2 {
    color: var(--color-minor-body);
  }
}

.separator {
  width: #{rem(24)};
  height: #{rem(2)};
  background-color: var(--color-minor-accent);
  border: 0;
  border-radius: #{rem(2)};
  margin-top: #{rem(8)};
  margin-bottom: #{rem(24)};

  @include media("lg") {
    margin-bottom: var(--spacing-3xl);
  }
}

.title.dark {
  h2 {
    color: var(--color-minor-body-dark);
  }

  .separator {
    background-color: var(--color-minor-accent-dark);
  }
}

.title.margin-none {
  .separator {
    margin-bottom: 0;
  }
}

.withLevel {
  grid-row: auto;
  position: relative;
  margin: var(--spacing-2xl) 0 var(--spacing-lg);

  .separator {
    margin-bottom: 0;
  }

  &:before {
    display: none;
    font-size: 0.8em;
    position: absolute;
    left: 0;
    top: -#{rem(4)};
    color: var(--color-minor-body);
    transform: translateX(calc(-100% - 1rem));

    @include media("md") {
      display: block;
    }
  }
}

.level-2:before {
  content: "##";
}

.level-3:before {
  content: "###";
}

.level-4:before {
  content: "####";
}

.level-5:before {
  content: "#####";
}

.level-6:before {
  content: "######";
}
