@use "ui/styles/reset.scss";
@use "ui/styles/vars.scss";
@use "ui/styles/utils.scss";

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-face-sans);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
