@use "ui/styles/reset.scss";
@use "ui/styles/vars.scss";
@use "ui/styles/utils.scss";
@use "ui/styles/fns.scss" as *;

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-face-sans);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes show {
  from {
    filter: blur(0);
    opacity: 1;
    top: 0;
  }

  to {
    filter: blur(16px);
    opacity: 0;
    top: -#{rem(24)};
  }
}

::view-transition-old(root) {
  animation: show 0.3s ease-in-out forwards;
}

:view-transition-new(root) {
  animation: show 0.3s ease-in-out reverse;
}
