@use "../../styles/_fns.scss" as *;

.parent {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include media("md") {
    min-height: #{rem(720)};
  }
}

.wrapper {
  grid-template-columns: 1fr;
  align-items: flex-start;

  @include media("md") {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gutter);
  }
}

.developed {
  @include media("md") {
    margin-top: #{rem(94)} !important;
    text-align: right;
  }
}

@media (prefers-color-scheme: dark) {
  .parent {
    background-image: url("./assets/bg-dark.jpg");
  }
}
