@use "../../styles/_fns.scss" as *;

.parent {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include media("md") {
    min-height: #{rem(720)};
  }
}

.wrapper {
  grid-template-columns: 1fr;

  @include media("md") {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gutter);
  }
}

.hiddenTitle {
  opacity: 0;
  pointer-events: none;
}

.item {
  cursor: pointer;
  color: var(--color-main-body);

  & + & {
    margin-top: var(--gutter);

    @include media("md") {
      margin-top: 0;
    }
  }

  &.noClick {
    cursor: auto;
  }
}

.title {
  margin-bottom: var(--spacing-lg);
  color: var(--color-main-heading);
}
