@use "../../styles/_fns.scss" as *;

.header {
  grid-column: 2 !important;
}

.wrapper {
  width: 100%;
  padding: var(--spacing-2xl) calc(var(--gutter) / 2);
  align-content: center;

  @include media("md") {
    padding: var(--spacing-3xl) 0;
    display: grid;
    grid-template-columns: 1fr var(--container) 1fr;
    min-height: #{rem(720)};
  }

  @include media("lg") {
    padding: var(--spacing-huge) 0;
  }
}

.wrapper.dark {
  background-color: var(--color-background-dark);
}

.content {
  width: 100%;
  max-width: var(--container);
  margin: auto;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--gutter);
}

.content.breakout {
  display: block;
  max-width: none;
}

.content.breakout.left {
  grid-column: 1 / 3;
}

.content.breakout.right {
  grid-column: 2 / 4;
}

