@use "../../styles/_fns.scss" as *;

.header {
  grid-column: 2 !important;
}

.small {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);

  @include media("md") {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  @include media("lg") {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}

.large {
  padding: var(--spacing-2xl) calc(var(--gutter) / 2);

  @include media("md") {
    padding: var(--spacing-3xl) 0;
    min-height: #{rem(720)};
  }

  @include media("lg") {
    padding: var(--spacing-huge) 0;
  }
}

.wrapper {
  width: 100%;
  padding: var(--spacing-2xl) calc(var(--gutter) / 2);
  align-content: center;

  @include media("md") {
    display: grid;
    grid-template-columns: 1fr var(--container) 1fr;
  }
}

.wrapper.dark {
  background-color: var(--color-main-background);
}

.content {
  width: 100%;
  max-width: var(--container);
  margin: auto;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns-xs), 1fr);
  column-gap: var(--gutter);

  @include media("md") {
    grid-template-columns: repeat(var(--columns-md), 1fr);
  }

  @include media("lg") {
    grid-template-columns: repeat(var(--columns-lg), 1fr);
  }
}

.content.breakout {
  display: block;
  max-width: none;
}

.content.breakout.left {
  grid-column: 1 / 3;
}

.content.breakout.right {
  grid-column: 2 / 4;
}
