@use "../../styles/_fns.scss" as *;

.wrapper {
  margin: calc(var(--spacing-small) * -1);
  padding: var(--spacing-small);
  border-radius: #{rem(8)};
  transition: #{transition(all)};
  transition-delay: var(--animation-duration-medium);
  display: flex;
  flex-flow: column;

  @include media("md") {
    margin: calc(var(--spacing-lg) * -1);
    padding: var(--spacing-lg);
  }
}

.hidden {
}

.title {
  margin: var(--spacing-mid) 0;
  color: var(--color-lead);
  transition: #{transition(color)};
  transition-delay: var(--animation-duration-medium);
}

.body {
  color: var(--color-text);
  transition: #{transition(color)};
  transition-delay: var(--animation-duration-medium);
  margin-bottom: auto;
}

.body p + p {
  margin-top: #{rem(8)};
}

.date {
  color: var(--color-text);
  display: flex;
  gap: #{rem(8)};
  align-items: center;
}

.wrapper svg {
  stroke: var(--color-text);
  width: #{rem(16)};
}

.tags {
  color: var(--color-text);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacing-small);
  margin-top: var(--spacing-mid);
  margin-bottom: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-mid);
  margin-top: var(--spacing-mid);
  transition: #{transition(height)};
  transition-delay: var(--animation-duration-medium);
}

.footer a {
  opacity: 0;
  filter: blur(#{rem(4)});
  transform: translateY(var(--spacing-small));
  transition: #{transition(opacity)},
  #{transition(all)};
}

.tag:after {
  content: "·";
  margin-left: var(--spacing-small);
  opacity: .5
}

.tag:last-child:after {
  content: "";
}

.wrapper:not(.active):hover {
  background-color: var(--color-background);
  transform: translateY(-#{rem(12)});
  transition-delay: 0s;
  z-index: var(--z-box);

  .title, .body {
    transition-delay: 0s;
  }
  .footer {
    transition-delay: 0s;
  }

  .footer a {
    opacity: 1;
    transform: translateY(0);
    filter: none;
  }

  .footer a:nth-of-type(1) {
    transition-delay: var(--animation-duration-short);
  }

  .footer a:nth-of-type(2) {
    transition-delay: var(--animation-duration-medium);
  }
}

.wrapper.active {
  .footer a {
    opacity: 1;
    transform: translateY(0);
    filter: none;
  }
}
