.text-background {
  color: var(--color-background);
}

.text-lead {
  color: var(--color-lead);
}

.text-accent {
  color: var(--color-accent);
}

.text-text {
  color: var(--color-text);
}

.text-text-light {
  color: var(--color-text-light);
}

.text-lead-light {
  color: var(--color-lead-light);
}

.text-minor {
  color: var(--color-minor);
}

.bg-lead {
  background-color: var(--color-lead);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-text {
  background-color: var(--color-text);
}

.bg-text-light {
  background-color: var(--color-text-light);
}

.bg-lead-light {
  background-color: var(--color-lead-light);
}

.bg-minor {
  background-color: var(--color-minor);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

// https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
