.text-background {
  color: var(--color-background);
}

.text-lead {
  color: var(--color-lead);
}

.text-accent {
  color: var(--color-accent);
}

.text-text {
  color: var(--color-text);
}

.text-text-light {
  color: var(--color-text-light);
}

.text-lead-light {
  color: var(--color-lead-light);
}

.text-minor {
  color: var(--color-minor);
}

.bg-lead {
  background-color: var(--color-lead);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-text {
  background-color: var(--color-text);
}

.bg-text-light {
  background-color: var(--color-text-light);
}

.bg-lead-light {
  background-color: var(--color-lead-light);
}

.bg-minor {
  background-color: var(--color-minor);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
