@use "./_fns.scss" as *;

:root {
  --font-face-sans: "Bricolage Grotesque", sans-serif;
  --font-face-mono: "Geist Mono", monospace;
  --font-face-serif: "Tinos", serif;

  --font-size-base: #{$baseline}px;

  --font-size-hero: #{rem(40)};
  --font-size-hero-md: #{rem(72)};
  --font-size-hero-lg: #{rem(96)};

  --font-size-regular: #{rem(14)};
  --font-size-small: #{rem(12)};

  --font-size-highlight: #{rem(12)};

  --font-size-secion-heading: #{rem(12)};

  --font-size-title: #{rem(40)};

  --font-size-button: #{rem(12)};

  --font-size-about: #{rem(36)};

  --font-size-work: var(--font-size-title);

  --font-size-article-body-small: #{rem(16)};
  --font-size-article-body: #{rem(20)};
  --font-size-article-h2: 2em;
  --font-size-article-h3: 1.5em;
  --font-size-article-h4: 1em;

  --leading-tall: 1.75;
  --leading-regular: 1.5;
  --leading-tight: 1;

  --color-main-background: #f7efec;
  --color-main-heading: #2a3d55;
  --color-main-body: #4b5a66;
  --color-main-accent: #ea516a;
  --color-minor-background: #fdf6f2;
  --color-minor-heading: #513a42;
  --color-minor-body: #725660;
  --color-minor-accent: #f9c5bd;

  --color-main-background-dark: #1a202c;
  --color-main-heading-dark: #f7efec;
  --color-main-body-dark: #d1c7c5;
  --color-main-accent-dark: #ea516a;
  --color-minor-background-dark: #2a3d55;
  --color-minor-heading-dark: #b1cced;
  --color-minor-body-dark: #d5e3f5;
  --color-minor-accent-dark: #a45b6b;

  --gutter: #{rem(24)};
  --container: auto;
  --columns: 6;

  --spacing-small: #{rem(8)};
  --spacing-mid: #{rem(16)};
  --spacing-lg: #{rem(24)};
  --spacing-xl: #{rem(32)};
  --spacing-2xl: #{rem(48)};
  --spacing-3xl: #{rem(64)};
  --spacing-huge: #{rem(112)};

  --animation-duration-delay: 0.15s;
  --animation-duration-short: 0.3s;
  --animation-duration-medium: 0.45s;
  --animation-duration-long: 0.7s;
  --animation-style: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  --z-menu: 20;
  --z-box: 10;

  @include media("md") {
    --font-size-hero: #{rem(72)};
    --font-size-title: #{rem(32)};
    --font-size-about: #{rem(64)};

    --gutter: #{rem(16)};
    --container: #{rem(720)};
    --columns: 12;
  }

  @include media("lg") {
    --font-size-hero: #{rem(96)};
    --font-size-title: #{rem(48)};
    --font-size-about: #{rem(64)};
    --font-size-work: #{rem(64)};

    --gutter: #{rem(32)};
    --container: #{rem(960)};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-background: var(--color-main-background-dark);
    --color-main-heading: var(--color-main-heading-dark);
    --color-main-body: var(--color-main-body-dark);
    --color-main-accent: var(--color-main-accent-dark);
    --color-minor-background: var(--color-minor-background-dark);
    --color-minor-heading: var(--color-minor-heading-dark);
    --color-minor-body: var(--color-minor-body-dark);
    --color-minor-accent: var(--color-minor-accent-dark);
  }
}
