@use "./_fns.scss" as *;

:root {
  --font-face-sans: "Bricolage Grotesque", sans-serif;
  --font-face-mono: "Geist Mono", monospace;

  --font-size-base: #{$baseline}px;

  --font-size-hero: #{rem(40)};
  --font-size-regular: #{rem(14)};
  --font-size-small: #{rem(12)};
  --font-size-highlight: #{rem(12)};
  --font-size-secion-heading: #{rem(12)};
  --font-size-title: #{rem(40)};
  --font-size-button: #{rem(12)};
  --font-size-about: #{rem(36)};
  --font-size-work: #{rem(40)};

  --leading-regular: 1.5;
  --leading-tight: 1;

  --color-background: #FFFDFA;
  --color-lead: #473335;
  --color-accent: #EA516A;
  --color-text: #847374;
  --color-text-light: #C6BCBC;
  --color-lead-light: #E1D8D1;
  --color-minor: #E1D8D1;

  --gutter: #{rem(24)};
  --container: auto;
  --columns: 6;

  @include media("md") {
    --font-size-hero: #{rem(72)};
    --font-size-title: #{rem(32)};
    --font-size-about: #{rem(64)};

    --gutter: #{rem(16)};
    --container: #{rem(720)};
    --columns: 12;
  }

  @include media("lg") {
    --font-size-hero: #{rem(96)};
    --font-size-title: #{rem(48)};
    --font-size-about: #{rem(64)};
    --font-size-work: #{rem(64)};

    --gutter: #{rem(32)};
    --container: #{rem(960)};
  }
}
