@use "./_fns.scss" as *;

:root {
  --font-face-sans: "Bricolage Grotesque", sans-serif;
  --font-face-mono: "Geist Mono", monospace;

  --font-size-base: #{$baseline}px;

  --font-size-hero: #{rem(40)};
  --font-size-regular: #{rem(14)};
  --font-size-small: #{rem(12)};
  --font-size-highlight: #{rem(12)};
  --font-size-secion-heading: #{rem(12)};
  --font-size-title: #{rem(40)};
  --font-size-button: #{rem(12)};
  --font-size-about: #{rem(36)};
  --font-size-work: #{rem(40)};

  --font-size-article-body: #{rem(16)};
  --font-size-article-h2: 2em;
  --font-size-article-h3: 1.5em;
  --font-size-article-h4: 1em;

  --leading-regular: 1.5;
  --leading-tight: 1;

  --color-background: #fff;
  --color-background-dark: #f8f2f2;
  --color-lead: #574142;
  --color-accent: #ea516a;
  --color-accent-hover: rgba(234, 81, 106, .5);
  --color-text: #775c5d;
  --color-text-light: #9f8082;
  --color-text-hover: rgb(198, 188, 188);
  --color-lead-light: rgb(225, 216, 209);
  --color-minor: rgb(225, 216, 209);

  --gutter: #{rem(24)};
  --container: auto;
  --columns: 6;

  --spacing-small: #{rem(8)};
  --spacing-mid: #{rem(16)};
  --spacing-lg: #{rem(24)};
  --spacing-xl: #{rem(32)};
  --spacing-2xl: #{rem(48)};
  --spacing-3xl: #{rem(64)};
  --spacing-huge: #{rem(112)};

  --animation-duration-delay: 0.15s;
  --animation-duration-short: 0.3s;
  --animation-duration-medium: 0.45s;
  --animation-duration-long: 0.7s;
  --animation-style: cubic-bezier(.17,.67,.83,.67);

  --z-menu: 20;
  --z-box: 10;

  @include media("md") {
    --font-size-hero: #{rem(72)};
    --font-size-title: #{rem(32)};
    --font-size-about: #{rem(64)};

    --gutter: #{rem(16)};
    --container: #{rem(720)};
    --columns: 12;
  }

  @include media("lg") {
    --font-size-hero: #{rem(96)};
    --font-size-title: #{rem(48)};
    --font-size-about: #{rem(64)};
    --font-size-work: #{rem(64)};

    --gutter: #{rem(32)};
    --container: #{rem(960)};
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-background-dark: #f8f2f2;
    --color-lead: #574142;
    --color-accent: #ea516a;
    --color-accent-hover: rgba(234, 81, 106, .5);
    --color-text: #775c5d;
    --color-text-light: #9f8082;
    --color-text-hover: rgb(198, 188, 188);
    --color-lead-light: rgb(225, 216, 209);
    --color-minor: rgb(225, 216, 209);
  }
}
