@use "../../styles/_fns.scss" as *;

.wrapper {
  padding: 0;

  @include media("md") {
    align-content: flex-start;
  }
}

.columns {
  padding: var(--spacing-mid);
  overflow: hidden;
  height: 100dvh;

  @include media("md") {
    padding: var(--spacing-xl) 0 0;
    width: 110%;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }
}

.content {
  @include media("md") {
    align-items: flex-start;
    grid-template-columns: #{rem(312)} 1fr !important;
    display: grid !important;
    gap: var(--gutter);
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);

  @include media("md") {
    &:nth-of-type(even) {
      margin-top: -#{rem(256)};
    }
  }
}

.card {
  background: var(--color-minor-background);
  margin: 0;
  position: relative;

  @include media("md") {
    margin: var(--spacing-3xl) 0;
    position: sticky;
    top: var(--spacing-3xl);
  }
}

.mobile {
  aspect-ratio: 9/16;
}

.tablet, .desktop {
  aspect-ratio: 3/4;

  figcaption {
    display: grid;
    align-items: center;
    gap: var(--spacing-small);
    padding: var(--spacing-small) var(--spacing-xl);
  }

  span {
    box-shadow: none !important;
    margin: 0 var(--spacing-mid);
  }
}

.desktop {
  aspect-ratio: 16/10;

  figcaption {
    top: 0;
    bottom: auto !important;
    grid-template-columns: 0.75rem 0.75rem 0.75rem auto 0.75rem 0.75rem 0.75rem;
  }

  i {
    display: block !important;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
  }

  img {
    margin-top: #{rem(65)};
  }
}

.imageWrapper {
  position: relative;
  border-radius: #{rem(16)};
  overflow: hidden;
  border: #{rem(8)} solid rgba(255, 255, 255, 0.25);

  img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
  }

  i {
    display: none;

    &:nth-of-type(1) {background: #FF5E58;}
    &:nth-of-type(2) {background: #FFBF2F;}
    &:nth-of-type(3) {background: #28C841;}
  }

  figcaption {
    background: #F6F6F6;
    padding: var(--spacing-mid);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: var(--z-banner);
  }

  span {
    border-radius: #{rem(4)};
    background: #FFFFFF;
    padding: var(--spacing-small) 0;
    display: block;
    text-align: center;
    font-family: var(--font-face-sans);
    font-size: var(--font-size-small);
    color: #4D4D4D;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  }
}
