@use "../../styles/_fns.scss" as *;

.wrapper {
  display: none;
  grid-template-columns: #{rem(32)} 1fr;
  height: #{rem(40)};
  gap: #{rem(8)};
  padding: 0 #{rem(16)} 0 #{rem(2)} !important;
  margin-left: auto;
  transition: #{all} var(--animation-duration-short);

  .imgWrapper {
    width: #{rem(32)};
    height: #{rem(32)};
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  @include media("md") {
    display: inline-grid;
  }
}

.wrapper.hidden {
  opacity: 0;
  transform: translateY(-#{rem(16)});
}
