@use "../../styles/_fns.scss" as *;

.parent {
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.work {
  @include media("md") {
    display: grid !important;
    grid-template-columns: #{rem(312)} 1fr !important;
    grid-template-rows: auto auto 1fr;
    gap: var(--gutter);
    padding: var(--spacing-3xl) 0;
  }
}

.work.left {
  @include media("md") {
    grid-template-columns: 1fr #{rem(312)} !important;

    .details {
      grid-column: 2;
    }

    .footer {
      grid-column: 2;
    }

    .imageWrapper {
      position: relative;
      left: -10%;
    }

    .images {
      grid-column: -2/1;
    }
  }
}

.details {
  grid-row: 2;
  grid-column: 1;
}

.images {
  @include media("md") {
    grid-row: 1 / -1;
    grid-column: 2/-1;
  }
}

.title {
  margin-bottom: var(--spacing-xl);
}

.description {
  margin-bottom: var(--spacing-xl);
}

.tags {
  list-style: none;
  margin-bottom: var(--spacing-xl);
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-mid);
}

.tag {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-small);
  color: var(--color-background);

  svg {
    stroke: currentColor;
    height: #{rem(12)};
  }
}

.imageWrapper {
  border: #{rem(8)} solid rgba(255,255,255,0.25);
  overflow: hidden;
  border-radius: #{rem(16)};

  @include media("md") {
    margin: -#{rem(64)} 0;
    width: 110%;
  }
}

.mobileWrapper {
  aspect-ratio: 9/16;
}

.desktopWrapper {
  aspect-ratio: 16/9;
  height: 100dvh;
  max-height: #{rem(720)};
}

.footer {
  grid-row: 3;
  grid-column: 1;
  margin-top: var(--spacing-xl);
  display: flex;
  gap: var(--spacing-mid);

  @include media("md") {
    margin-top: auto;
  }
}
