@use "../../styles/_fns.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-menu);
  background: var(--color-main-background);
  height: #{rem(64)};
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 calc(var(--gutter) / 2);
  transition:
    #{transition(transform)},
    #{transition(width)},
    #{transition(margin)},
    #{transition(left)},
    #{transition(padding)},
    #{transition(background)},
    #{transition(opacity)};

  @include media("lg") {
    background: none;
    grid-template-columns: 2fr 1fr 2fr;
    width: var(--container);
    padding: 0;
    left: 50%;
    margin-left: calc(var(--container) / -2);
  }
}

.full {
  transition:
    #{transition(transform)},
    #{transition(width)} 600ms,
    #{transition(margin)} 600ms,
    #{transition(left)} 600ms,
    #{transition(padding)} 600ms,
    #{transition(background)},
    #{transition(opacity)};

  @include media("lg") {
    background: var(--color-main-background);
    left: 0;
    margin-left: 0;
    width: 100%;
    padding: 0 calc(var(--gutter) / 2);
  }
}

.hidden {
  transform: translateY(-#{rem(100)});
  opacity: 0;
}

.logo {
  height: #{rem(32)};
  fill: var(--color-main-heading);
}

.contact {
  width: #{rem(16)};
  fill: var(--color-main-body);
  justify-self: end;
}
