@use "../../styles/_fns.scss" as *;

:root {
  --card-height-md: #{rem(580)};
  --card-height-lg: #{rem(560)};
}

.wrapper {
  overflow: hidden;
  grid-column: 1/-1;
  border-radius: #{rem(8)};
  color: var(--color-minor-body);

  @media (min-width: 1024px) and (min-height: 820px) {
    position: sticky !important;
    top: var(--spacing-lg);
    outline: var(--spacing-small) solid var(--color-main-background);
  }

  & + & {
    margin-top: var(--spacing-lg);
  }

  @include media("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
    height: var(--card-height-md);

    & + & {
      margin-top: var(--spacing-xl);
    }
  }

  @include media("lg") {
    height: var(--card-height-lg);

    & + & {
      margin-top: var(--spacing-3xl);
    }
  }
}

.wrapper.right {
  .desc {
    order: 2;
  }

  .body {
    order: 1;
    justify-self: flex-end;
    overflow: hidden;

    @include media("md") {
      margin: calc(var(--spacing-lg) * -1);
      margin-right: 0;
    }

    @include media("lg") {
      margin: calc(var(--spacing-xl) * -1);
      margin-right: 0;
    }
  }
}

.header {
  margin-bottom: var(--spacing-lg);
}

.footer {
  margin-top: var(--spacing-lg);

  @include media("md") {
    margin-top: auto;
  }
}

.desc {
  display: flex;
  flex-flow: column nowrap;

  @include media("md") {
    height: calc(var(--card-height-md) - (2 * var(--spacing-lg)));
  }

  @include media("lg") {
    height: calc(var(--card-height-lg) - (2 * var(--spacing-xl)));
  }
}

.body {
  display: none;

  @include media("md") {
    display: block;
    margin: calc(var(--spacing-lg) * -1);
    margin-left: 0;
  }

  @include media("lg") {
    margin: calc(var(--spacing-xl) * -1);
    margin-left: 0;
  }
}
