@use "../../styles/_fns.scss" as *;

.wrapper {
  background: var(--color-minor-background);
  border-radius: #{rem(8)};
  color: var(--color-main-body);
  align-items: flex-start;

  & + & {
    margin-top: var(--spacing-mid);
  }

  @include media("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);

    & + & {
      margin-top: var(--spacing-xl);
    }
  }
}

.desc {
  margin-bottom: var(--spacing-mid);

  @include media("md") {
    margin-bottom: 0;
    position: sticky;
    top: var(--spacing-lg);
  }

  @include media("lg") {
    top: var(--spacing-xl);
  }
}

.list {
  list-style: none;
  grid-column: 2/3;
  grid-row: 1;

  @include media("lg") {
    columns: var(--columns);
  }

  li + li {
    margin-top: var(--spacing-mid);
  }

  li {
    color: var(--color-minor-body);
  }
}

.title hr {
  margin-bottom: var(--spacing-mid);
}
