@use "../../styles/_fns.scss" as *;

.hero {
  font-size: var(--font-size-hero);
  font-weight: 900;
  line-height: var(--leading-tight);

  @include media("md") {
    line-height: var(--leading-regular);
    letter-spacing: -0.025em;
  }

  @include media("lg") {
    line-height: var(--leading-tight);
  }

  span {
    font-weight: 200;
  }
}

.regular,
.list,
.article-body {
  font-size: var(--font-size-regular);
  line-height: var(--leading-regular);

  a {
    position: relative;
    transition: #{transition(all)};
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      bottom: -5%;
      left: -2.5%;
      width: 105%;
      height: #{rem(1)};
      background: var(--color-main-accent);
      opacity: 0.25;
      transition: #{transition(all)};
      z-index: -1;
    }
  }

  a[href^="http"]:not([href*="buszewski"]) {
    &:after {
      content: "↗";
      display: inline-block;
      margin-left: 0.5em;
      font-size: 0.5em;
      position: relative;
      top: -0.35em;
      font-weight: bold;
    }
  }

  a:hover {
    color: var(--color-main-background);

    &:before {
      height: 110%;
      opacity: 1;
      border-radius: #{rem(4)};
    }
  }
}

.small {
  font-size: var(--font-size-small);
}

.highlight {
  font-size: var(--font-size-highlight);
  font-family: var(--font-face-mono);
}

.section-heading {
  font-weight: normal;
  font-size: var(--font-size-secion-heading);
  line-height: var(--leading-tight);
  font-family: var(--font-face-mono);
  text-transform: uppercase;
  color: var(--color-main-body);
}

.title {
  font-size: var(--font-size-title);
  line-height: var(--leading-tight);
  font-weight: 800;
  letter-spacing: -0.025em;
}

.button {
  font-size: var(--font-size-button);
  line-height: var(--leading-tight);
}

.about {
  font-size: var(--font-size-about);
  line-height: var(--leading-tight);

  @include media("md") {
    letter-spacing: -0.025em;
  }
}

.work {
  font-size: var(--font-size-work);
}

.article-body {
  font-family: var(--font-face-serif);
  font-size: var(--font-size-article-body-small);
  line-height: var(--leading-regular);
  color: var(--color-main-body);

  @include media("md") {
    font-size: var(--font-size-article-body);
  }

  a {
    color: var(--color-main-accent);
  }

  code {
    color: var(--color-minor-body);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: #{rem(4)};
    display: inline-block;
    padding: #{rem(4)} #{rem(8)};
  }
}

.h2 {
  font-size: var(--font-size-article-h2);
  font-weight: bold;
  line-height: var(--leading-tight);
  letter-spacing: -0.025em;
}

.h3 {
  font-size: var(--font-size-article-h3);
  font-weight: bold;
  line-height: var(--leading-tight);
  letter-spacing: -0.025em;
}

.h4 {
  font-size: var(--font-size-article-h5);
  font-weight: bold;
  line-height: var(--leading-tight);
}

.blockquote {
  font-size: var(--font-size-article-body);
}

.ul {
  list-style: none;
}

.mono {
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-weight: 800;
}

.pre {
  font-family: var(--font-face-mono);
  padding: var(--spacing-mid);
  line-height: var(--leading-regular);
  border-radius: #{rem(8)};
  overflow: auto;

  @include media("md") {
    padding: var(--spacing-lg);
  }
}

.code {
  font-family: var(--font-face-mono);
  font-size: var(--font-size-regular);
}
